<div class="container">
  <form
    nz-form
    [formGroup]="validateForm"
    class="add-form"
    (ngSubmit)="submitForm()"
  >
    <h2 class="title" nz-typography>Edit Order</h2>

    <div *ngFor="let item of this.Products">
      <nz-form-item class="img-container">
        <img [src]="item.image" [alt]="item.image" />
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please select an Image">
          <nz-input-group
            class="file-field"
            [nzSuffix]="suffixTemplateInfo"
            [nzPrefix]="prefixTemplateUser"
          >
            {{ item.name + " $" + item.price }}
          </nz-input-group>
        </nz-form-control>

        <ng-template #prefixTemplateUser
          ><span nz-icon nzType="file-image"></span
        ></ng-template>
        <ng-template #suffixTemplateInfo>
          <span
            nz-icon
            nz-button
            nzType="minus-circle"
            class="remove-img-btn"
          ></span>
        </ng-template>
      </nz-form-item>
    </div>

    <nz-form-item>
      <nz-input-group nzPrefixIcon="dollar" class="field">
        <input
          class="field"
          type="number"
          nz-input
          readonly
          min="0"
          formControlName="totalPrice"
          placeholder="Total Price"
          [value]="this.currentOrder.totalPrice"
          required
        />
      </nz-input-group>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="Please enter the Province Name">
        <nz-input-group nzPrefixIcon="environment" class="field">
          <input
            class="field"
            type="text"
            nz-input
            min="0"
            formControlName="province"
            placeholder="Province"
            required
            [value]="this.currentOrder.province"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="Please enter the City Name">
        <nz-input-group nzPrefixIcon="environment" class="field">
          <input
            class="field"
            type="text"
            nz-input
            min="0"
            formControlName="city"
            placeholder="City"
            required
            [value]="this.currentOrder.city"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="Please enter a valid Zip Code">
        <nz-input-group nzPrefixIcon="environment" class="field">
          <input
            class="field"
            type="number"
            nz-input
            min="0"
            formControlName="zipCode"
            placeholder="Zip Code"
            required
            [value]="this.currentOrder.zipCode"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="Please enter a Payment Method">
        <nz-input-group nzPrefixIcon="credit-card" class="field">
          <nz-select
            class="field"
            nzPlaceHolder="Payment Method"
            formControlName="paymentMethod"
          >
            <nz-option
              *ngFor="let item of paymentMethods"
              [nzLabel]="item"
              [nzValue]="item"
            ></nz-option>
          </nz-select>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="Please enter the Shipping Price">
        <nz-input-group nzPrefixIcon="shopping-cart" class="field">
          <input
            class="field"
            type="number"
            nz-input
            min="0"
            formControlName="shippingPrice"
            placeholder="Shipping Price"
            required
            [value]="this.currentOrder.shippingPrice"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <button
      nz-button
      [nzType]="'primary'"
      class="add-form-button"
      nzSize="large"
    >
      Edit Order
    </button>
  </form>
</div>
