<nz-header style="margin-left: 0; padding: 0">
  <ul
    nzMode="horizontal"
    style="
      margin: 0 28px;
      padding: 0;
      display: flex;
      justify-content: space-between;
    "
  >
    <li>
      <a
        href="/"
        style="
          background-color: #001529;
          border: none;
          color: #fff;
          font-size: 24px;
          margin-top: 6px;
        "
      >
        <span nz-icon nzType="bank" theme="fill"></span>
        Inventory Manager
      </a>
    </li>

    <li style="margin-right: 20px">
      <app-user-avatar></app-user-avatar>
    </li>
  </ul>
</nz-header>
