// :host {
//   text-align: center;
// }

nz-header {
  color: #fff;

}

ul{
  li{
    list-style: none;
  }
}
.logo{
  margin: .5rem 0;
  font-size: 3rem;
}

.title{
  margin: .5rem 0;
  font-size: 1.5rem;
  color: #fff;
}
