<app-search></app-search>
<div nz-row>
  <div nz-col nzSpan="24">
    <nz-table #basicTable [nzData]="listOfData">
      <thead>
        <tr>
          <th>Name</th>
          <th>Date of birth</th>
          <th>Email</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of listOfData">
          <td>
            <a nz-button nzType="link">{{
              data.firstName + " " + data.lastName
            }}</a>
          </td>
          <td>{{ data.dob }}</td>
          <td>{{ data.email }}</td>
          <td>
            <button nz-button nzType="link">
              <span nz-icon nzType="edit"></span>
              <a href="customers/edit/{{ data._id }}">Edit</a>
            </button>
          </td>

          <td>
            <button nz-button nzType="link" nzDanger>
              <span nz-icon nzType="delete"></span>
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
