<app-search></app-search>
<div nz-row>
  <div nz-col nzSpan="24">
    <nz-table #basicTable [nzData]="listOfData">
      <thead>
        <tr>
          <th>Name</th>
          <th>Date of birth</th>
          <th>Email</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of listOfData">
          <td>
            <a nz-button nzType="link">{{
              data.firstName +
                (data.middleName ? " " + data.middleName : "") +
                " " +
                data.lastName
            }}</a>
          </td>
          <td>{{ data.dob }}</td>
          <td>{{ data.email }}</td>
          <td>
            <a class="link-btn" href="customers/edit/{{ data._id }}"
              ><span nz-icon nzType="edit"></span> Edit</a
            >
          </td>

          <td>
            <a
              nz-popconfirm
              class="delete-link"
              nzPopconfirmTitle="Are you sure delete this Customer"
              nzPopconfirmPlacement="bottom"
              (nzOnConfirm)="deleteCustomer(data._id)"
            >
              <span nz-icon nzType="delete"></span>
              Delete
            </a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
