<div class="container">
  <form
    nz-form
    [formGroup]="validateForm"
    class="add-form"
    (ngSubmit)="submitForm()"
  >
    <h2 class="title" nz-typography>Add Order</h2>

    <nz-form-item>
      <nz-form-control nzErrorTip="Please enter Order Items">
        <nz-input-group nzPrefixIcon="bars" class="field">
          <nz-select
            class="field"
            nzMode="multiple"
            nzPlaceHolder="Please select Products"
            [(ngModel)]="selectedItems"
            (nzOpenChange)="(updateTotalPrice)"
          >
            <nz-option
              *ngFor="let item of OrderItems"
              [nzLabel]="item.name + ' ' + '$' + item.price"
              [nzValue]="item.id"
            ></nz-option>
          </nz-select>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <!-- <nz-form-item>
      <nz-input-group nzPrefixIcon="edit" class="field">
        <input class="field" type="text" nz-input readonly required />
      </nz-input-group>
    </nz-form-item>
-->
    <nz-form-item>
      <nz-input-group nzPrefixIcon="dollar" class="field">
        <input
          class="field"
          type="number"
          nz-input
          readonly
          min="0"
          formControlName="totalPrice"
          placeholder="Total Price"
          required
        />
      </nz-input-group>
    </nz-form-item>

    <nz-form-item>
      <nz-input-group nzPrefixIcon="environment" class="field">
        <input
          class="field"
          type="text"
          nz-input
          min="0"
          formControlName="province"
          placeholder="Province"
          required
        />
      </nz-input-group>
    </nz-form-item>

    <nz-form-item>
      <nz-input-group nzPrefixIcon="environment" class="field">
        <input
          class="field"
          type="text"
          nz-input
          min="0"
          formControlName="city"
          placeholder="City"
          required
        />
      </nz-input-group>
    </nz-form-item>

    <nz-form-item>
      <nz-input-group nzPrefixIcon="environment" class="field">
        <input
          class="field"
          type="number"
          nz-input
          min="0"
          formControlName="zipCode"
          placeholder="Zip Code"
          required
        />
      </nz-input-group>
    </nz-form-item>

    <nz-form-item>
      <nz-input-group nzPrefixIcon="credit-card" class="field">
        <input
          class="field"
          type="number"
          nz-input
          min="0"
          formControlName="paymentMethod"
          placeholder="Payment Method"
          required
        />
      </nz-input-group>
    </nz-form-item>

    <nz-form-item>
      <nz-input-group nzPrefixIcon="shopping-cart" class="field">
        <input
          class="field"
          type="number"
          nz-input
          min="0"
          formControlName="shippingPrice"
          placeholder="Shipping Price"
          required
        />
      </nz-input-group>
    </nz-form-item>

    <button
      nz-button
      [nzType]="'primary'"
      class="add-form-button"
      nzSize="large"
    >
      Add Order
    </button>
  </form>
</div>
