<div class="container">
  <form
    nz-form
    [formGroup]="validateForm"
    class="add-form"
    (ngSubmit)="submitForm()"
  >
    <h2 class="title" nz-typography>Add Order</h2>

    <nz-form-item>
      <nz-form-control nzErrorTip="Please enter Order Items">
        <nz-input-group nzPrefixIcon="bars" class="field">
          <nz-select
            class="field"
            nzMode="multiple"
            nzPlaceHolder="Please select Products"
            [(ngModel)]="selectedItems"
            (change)="(updateTotalPrice)"
          >
            <nz-option
              *ngFor="let item of OrderItems"
              [nzLabel]="item.name + ' ' + '$' + item.price"
              [nzValue]="item.id"
            ></nz-option>
          </nz-select>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <!-- <nz-form-item>
      <nz-input-group nzPrefixIcon="edit" class="field">
        <input class="field" type="text" nz-input readonly required />
      </nz-input-group>
    </nz-form-item>
-->
    <nz-form-item>
      <nz-input-group nzPrefixIcon="book" class="field">
        <input
          class="field"
          type="number"
          nz-input
          readonly
          min="0"
          formControlName="totalPrice"
          placeholder="Total Price"
          required
        />
      </nz-input-group>
    </nz-form-item>

    <nz-form-item>
      <nz-input-group nzPrefixIcon="book" class="field">
        <input
          class="field"
          type="text"
          nz-input
          readonly
          min="0"
          formControlName="shippingAddress"
          placeholder="Province"
          required
        />
      </nz-input-group>
    </nz-form-item>

    <nz-form-item>
      <nz-input-group nzPrefixIcon="book" class="field">
        <input
          class="field"
          type="text"
          nz-input
          readonly
          min="0"
          formControlName="shippingAddress"
          placeholder="City"
          required
        />
      </nz-input-group>
    </nz-form-item>

    <nz-form-item>
      <nz-input-group nzPrefixIcon="book" class="field">
        <input
          class="field"
          type="text"
          nz-input
          readonly
          min="0"
          formControlName="shippingAddress"
          placeholder="Zip Code"
          required
        />
      </nz-input-group>
    </nz-form-item>
    <!--
    <nz-form-item>
      <nz-form-control nzErrorTip="Please enter product price">
        <nz-input-group nzPrefixIcon="dollar" class="field">
          <input
            class="field"
            type="number"
            nz-input
            min="0"
            formControlName="price"
            placeholder="Product Price"
            required
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <div nz-row class="add-form-margin middle-row">
      <div nz-col [nzSpan]="12">
        <label nz-checkbox formControlName="featured">
          <span>Featured</span>
        </label>
      </div>
    </div>

    <nz-form-item>
      <nz-form-control nzErrorTip="Please Enter the product description">
        <textarea
          class="field"
          type="text"
          nz-input
          formControlName="description"
          placeholder="Product description"
          [nzAutosize]="{ minRows: 4, maxRows: 6 }"
          required
        ></textarea>
      </nz-form-control>
    </nz-form-item> -->

    <button
      nz-button
      [nzType]="'primary'"
      class="add-form-button"
      nzSize="large"
    >
      Add Product
    </button>
  </form>
</div>
