nz-select{
  min-width: 100%;
  min-height: 100%;
  position: relative;
}

.top{
  margin:1rem .5rem;
}

.header-txt{
  text-align: center;
}

.add-btn{
  position: relative;
  top: 0;
  left: 0;
  min-height:100%;
  min-width: 100%;
  background-color: #1eff00;
  border-color: #1eff00;
}

.delete-link{
  color:red;
}
