<div nz-row nzJustify="center" class="top">
  <div nz-col nzSpan="19">
    <h3 class="header-txt" nz-typography>
      Currently There is currently {{ totalOrders }} Orders in Inventory
    </h3>
  </div>

  <div nz-col nzSpan="3">
    <button nz-button [nzType]="'primary'" class="add-btn">
      <a class="add-link" href="orders/add"> Add New </a>
    </button>
  </div>
</div>

<app-search></app-search>
<div nz-row>
  <div nz-col nzSpan="24">
    <nz-table #basicTable [nzData]="listOfData">
      <thead>
        <tr>
          <th>Items</th>
          <th>Shipping Address</th>
          <th>Payment Method</th>
          <th>Shipping Price</th>
          <th>Total Price</th>
          <th>Status</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of listOfData">
          <td>
            <a nz-button nzType="link">Items</a>
          </td>
          <td>{{ data.shippingAddress }}</td>
          <td>{{ data.paymentMethod }}</td>
          <td>{{ data.shippingPrice }}</td>
          <td>{{ data.totalPrice }}</td>
          <td>
            <select (change)="updateStatus(data._id, $event)">
              <option value="Pending">Pending</option>
              <option value="Shipped">Shipped</option>
              <option value="Delivered">Delivered</option>
              <option value="Canceled">Canceled</option>
            </select>
          </td>

          <td>
            <a
              nz-popconfirm
              class="delete-link"
              nzPopconfirmTitle="Are you sure delete this Product"
              nzPopconfirmPlacement="bottom"
              (nzOnConfirm)="deleteOrder(data._id)"
            >
              <span nz-icon nzType="delete"></span>
              Delete
            </a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
