<div class="container">
  <form
    nz-form
    [formGroup]="validateForm"
    class="login-form"
    (ngSubmit)="submitForm()"
  >
    <h2 class="title" nz-typography>Update User</h2>

    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Name!">
        <nz-input-group nzPrefixIcon="user" class="field">
          <input
            class="field"
            type="text"
            nz-input
            formControlName="name"
            placeholder="Name"
            [value]="this.customer.firstName"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Last Name!">
        <nz-input-group nzPrefixIcon="user" class="field">
          <input
            class="field"
            type="text"
            nz-input
            formControlName="lastName"
            placeholder="Last Name"
            [value]="this.customer.lastName"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Email!">
        <nz-input-group nzPrefixIcon="mail" class="field">
          <input
            class="field"
            type="email"
            nz-input
            formControlName="email"
            placeholder="Email"
            [value]="this.customer.email"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your birth date!">
        <nz-input-group class="field">
          <input
            class="field"
            type="date"
            nz-input
            formControlName="dob"
            [max]="maxDate"
            [value]="this.customer.dob"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <button
      nz-button
      [nzType]="'primary'"
      class="login-form-button"
      nzSize="large"
    >
      Update
    </button>
  </form>
</div>
