.add-form {
  max-width: 600px;
  max-height: 600px;
  padding: 1rem 1.5rem;
  padding-bottom: 1.5rem;
  border: 2px solid #808080;
  border-radius: 1rem;
  background-color: #fff;
  width: 95%;
}

.add-form-margin {
  margin-bottom: 16px;
}

.invalid{
  text-align: center;
  color: #ff4646;
  font-size: 1.5rem;
}
.container{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

input{
  margin-left: .5rem;
}
.title{
  text-align: center;
  margin-bottom: 1rem;
}
.middle-row{
  padding-left: .5rem;
  padding-right: .5rem;
}

.field {
  font-size: 1.5rem;
  border-radius: 1rem;

}

.file-field{
  font-size: 1.5rem;
  border-radius: 1rem;
  border: none;

  &:hover{
    cursor: pointer;
  }

  &:focus{
    border-color: #ff4646;
  }

}

.add-form-forgot {
  float: right;
}

.add-form-button {
  width: 100%;
  border-radius: 1rem;
  // font-size: 1.5rem;
}

.link-register{
  margin-top: 1rem;
  font-size: 1rem;
  text-align: center;
  align-items: center;
}
