<nz-layout>
  <app-header></app-header>
  <nz-layout>
    <nz-sider nzCollapsible nzWidth="200px">
      <ul nz-menu nzTheme="dark" nzMode="inline" style="font-size: 18px">
        <li nz-menu-item>
          <a routerLinkActive="active" [routerLink]="'dashboard'">
            <span
              nz-icon
              nzType="home"
              nzTheme="outline"
              [style]="iconsStyle"
            ></span>
            <span>Dashboard</span>
          </a>
        </li>

        <li nz-menu-item>
          <a routerLinkActive="active" [routerLink]="'customers'">
            <span
              nz-icon
              nzType="team"
              nzTheme="outline"
              [style]="iconsStyle"
            ></span>
            <span>Customers</span>
          </a>
        </li>

        <li nz-menu-item>
          <span
            nz-icon
            nzType="apartment"
            nzTheme="outline"
            [style]="iconsStyle"
          ></span>
          <span>Loans</span>
        </li>

        <li nz-menu-item>
          <span
            nz-icon
            nzType="wallet"
            nzTheme="outline"
            [style]="iconsStyle"
          ></span>
          <span>Payments</span>
        </li>

        <li nz-menu-item>
          <a href="invoices">
            <span
              nz-icon
              nzType="book"
              nzTheme="outline"
              [style]="iconsStyle"
            ></span>
            <span>Invoices</span>
          </a>
        </li>

        <li nz-menu-item>
          <span
            nz-icon
            nzType="solution"
            nzTheme="outline"
            [style]="iconsStyle"
          ></span>
          <span>Loan Plans</span>
        </li>

        <li nz-menu-item>
          <span
            nz-icon
            nzType="bar-chart"
            nzTheme="outline"
            [style]="iconsStyle"
          ></span>
          <span>Reports</span>
        </li>

        <li nz-menu-item>
          <span
            nz-icon
            nzType="setting"
            nzTheme="outline"
            [style]="iconsStyle"
          ></span>
          <span>Settings</span>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-content>
        <router-outlet></router-outlet>
      </nz-content>
      <app-footer></app-footer>
    </nz-layout>
  </nz-layout>
</nz-layout>
