<nz-layout>
  <app-header></app-header>
  <nz-layout>
    <nz-sider nzCollapsible nzWidth="200px">
      <ul nz-menu nzTheme="dark" nzMode="inline" style="font-size: 18px">
        <li nz-menu-item>
          <a routerLinkActive="active" [routerLink]="''">
            <span
              nz-icon
              nzType="home"
              nzTheme="outline"
              [style]="iconsStyle"
            ></span>
            <span>Dashboard</span>
          </a>
        </li>

        <li nz-menu-item>
          <a routerLinkActive="active" [routerLink]="'customers'">
            <span
              nz-icon
              nzType="team"
              nzTheme="outline"
              [style]="iconsStyle"
            ></span>
            <span>Customers</span>
          </a>
        </li>

        <li nz-menu-item>
          <a routerLinkActive="active" [routerLink]="'products'">
            <span
              nz-icon
              nzType="shopping-cart"
              nzTheme="outline"
              [style]="iconsStyle"
            ></span>
            <span>Products</span>
          </a>
        </li>

        <li nz-menu-item>
          <a routerLinkActive="active" [routerLink]="'orders'">
            <span
              nz-icon
              nzType="unordered-list"
              nzTheme="outline"
              [style]="iconsStyle"
            ></span>
            <span>Orders</span>
          </a>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-content>
        <router-outlet></router-outlet>
      </nz-content>
      <app-footer></app-footer>
    </nz-layout>
  </nz-layout>
</nz-layout>
