<div nz-row nzJustify="center" class="top">
  <div nz-col nzSpan="19">
    <h3 class="header-txt" nz-typography>
      Currently There is 0 Products in Inventory
    </h3>
  </div>

  <div nz-col nzSpan="3">
    <button nz-button [nzType]="'primary'" class="add-btn">
      <a class="add-link" href="products/add"> Add New </a>
    </button>
  </div>
</div>

<app-search></app-search>

<div nz-row>
  <div nz-col nzSpan="24">
    <nz-table #basicTable [nzData]="listOfData">
      <thead>
        <tr>
          <th>Name</th>
          <th>Thumbnail</th>
          <th>Pictures</th>
          <th>Slag</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of listOfData">
          <td>
            <a nz-button nzType="link" href="products/edit/{{ data._id }}">{{
              data.name
            }}</a>
          </td>
          <td>
            <a nz-button nzType="link" href="products/edit/{{ data._id }}"
              >click to view</a
            >
          </td>

          <td>
            <a nz-button nzType="link" href="products/edit/{{ data._id }}"
              >click to view</a
            >
          </td>

          <td>
            {{ data.slag }}
          </td>

          <td>
            {{ data.price }}
          </td>

          <td>
            {{ data.quantity }}
          </td>
          <td>
            <button nz-button nzType="link">
              <span nz-icon nzType="edit"></span>
              <a href="products/edit/{{ data._id }}">Edit</a>
            </button>
          </td>

          <td>
            <button nz-button nzType="link" nzDanger>
              <span nz-icon nzType="delete"></span>
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
