.title{
  text-align: center;
  margin-top: 3rem;

}

.container{
  padding: 3rem;
}


.pic{
  font-size: 3rem;
}

.card{
  display: block;
}

.card-container{
  background-color: white;
  border-radius: 1rem;
  border: 1px solid black;
  padding: .5rem;
}
