.title{
  text-align: center;
  margin-top: 3rem;

}

.container{
  padding: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;

  p{
    font-size: 1.1rem;
  }

  strong{
    font-size: 1.3rem;
  }
}


.pic-cash{
  font-size: 3rem;
  color: rgb(37, 124, 255);
}

.pic-bag{
  font-size: 3rem;
  color: rgb(131, 255, 131);
}

.pic-store{
  font-size: 3rem;
  color: rgb(220, 189, 51);
}

.pic-container{
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 1rem;
}

.card{
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.dates{
  display: inline;
}

.card-container{
  background-color: white;
  border-radius: 1rem;
  border: 1px solid black;
  padding: .5rem;
  display: flex;
}

.charts-container{
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 0 2rem 2rem 2rem;
  height: 720px;
  width: 100%;
}

.setting-section{
  display: flex;
  justify-content: space-between;
  padding: 3rem;
}

@media (max-width:1024px) {
  .container{
    grid-template-columns: 1fr;
  }
}
