<div class="container">
  <div class="card-container">
    <div class="pic-container">
      <span nz-icon nzType="dollar" class="pic-cash" nzTheme="outline"></span>
    </div>
    <div>
      <div class="card">
        <strong>Total Sales</strong>
        <p>70</p>
      </div>
    </div>
  </div>
  <div class="card-container">
    <div class="pic-container">
      <span nz-icon nzType="shopping" class="pic-bag" nzTheme="outline"></span>
    </div>
    <div>
      <div class="card">
        <strong>Total Orders</strong>
        <p>70</p>
      </div>
    </div>
  </div>
  <div class="card-container">
    <div class="pic-container">
      <span nz-icon nzType="shop" class="pic-store" nzTheme="outline"></span>
    </div>
    <div>
      <div class="card">
        <strong>Total Products</strong>
        <p>70</p>
      </div>
    </div>
  </div>
</div>
