<div class="body-container">
  <div class="container">
    <div class="card-container">
      <div class="pic-container">
        <span nz-icon nzType="dollar" class="pic-cash" nzTheme="outline"></span>
      </div>
      <div>
        <div class="card">
          <strong>Total Sales</strong>
          <p>${{ totalSales }}</p>
        </div>
      </div>
    </div>
    <div class="card-container">
      <div class="pic-container">
        <span
          nz-icon
          nzType="shopping"
          class="pic-bag"
          nzTheme="outline"
        ></span>
      </div>
      <div>
        <div class="card">
          <strong>Total Orders</strong>
          <p>{{ totalOrders }}</p>
        </div>
      </div>
    </div>
    <div class="card-container">
      <div class="pic-container">
        <span nz-icon nzType="shop" class="pic-store" nzTheme="outline"></span>
      </div>
      <div>
        <div class="card">
          <strong>Total Products</strong>
          <p>{{ totalProducts }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="setting-section">
    <div>
      <div *ngFor="let item of available_dates" class="dates">
        <button nz-button (click)="dataByDate(item)" type="link">
          {{ item }}
        </button>
      </div>
    </div>
    <select>
      <option>Sales</option>
      <option>Inventory</option>
      <option>Orders</option>
    </select>
  </div>
  <div class="charts-container">
    <canvas
      baseChart
      [type]="'line'"
      [data]="lineChartData"
      [options]="lineChartOptions"
      [legend]="lineChartLegend"
    >
      ></canvas
    >
  </div>
</div>
